body{
    background-color: rgb(77, 122, 71);
}
.el{
    font-size: 35px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin:30px 60px 0 0;
    text-transform: uppercase;
}
ul{
    margin-right: 7%;
    float: right;
}
.logo{
    margin-right: 10%;
    float: right;
}
.sec{
    width: 500px;
    background-color: rgb(235, 200, 5);
    margin: 150px 0 0 7%;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    text-transform: uppercase;
}
.clear{
    clear: right;
}
.image1{
    float: right;
}
.image2{
    float: left;
}